h1 {
    text-align: center;
}

#container {
    margin: 0 auto;
    max-width: 50%;
    position: relative;
}

#inputTxt {
    height: 25px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.todo-item {
    color: blue;
    font-size: 20px;
    list-style-type: none;
}

.selectItem {
    text-decoration: line-through;
}

#chkBox {
    width: 30px;
    height: 15px;
}

.completed {
    color: green;
    text-decoration: line-through;
}

#addItem {
    width: 100px;
    height: 30px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

#removeItem {
    width: 100px;
    height: 30px;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    border: none;
}