body {
    text-align: center;
}

h1 {
    text-align: center;
}

#container {
    margin: 0 auto;
    text-align: center;
}

#inputTxt {
    height: 25px;
    width: 250px;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
}

.todo-item {
    color: blue;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}

.selectItem {
    text-decoration: line-through;
}

.completed {
    color: green;
    text-decoration: line-through;
}